@model MvcEmlak.Models.Emlak

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Emlak</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Il)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Il)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ilce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ilce)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mahalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mahalle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IlanTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IlanTarihi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Photo" style="max-width: 200px;" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
